<!DOCTYPE html>
<html>
	<head>
		<title>Registration</title>
	</head>
	<body>
		<fieldset>
			<legend>Create a new account</legend>
			<form action="/home" method="post">
				<table>
					<tr>
						<td>Username: </td>
						<td><input type="text" name="username" placeholder="Enter User Name"></td>
					</tr>
					<tr>
						<td>Password: </td>
						<td><input type="password" name="password"></td>
					</tr>
					<tr>
						<td>Confirm Password: </td>
						<td><input type="password" name="password_confirm"></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Register"></td>
					</tr>
				</table>
			</form>
		</fieldset>
	</body>
</html>